<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cristal?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">arepax</property>
    <mapping resource="com/jotase/crystalsystem/models/OrderglassHasService.hbm.xml"/>
    <mapping resource="com/jotase/crystalsystem/models/Customers.hbm.xml"/>
    <mapping resource="com/jotase/crystalsystem/models/Service.hbm.xml"/>
    <mapping resource="com/jotase/crystalsystem/models/Budget.hbm.xml"/>
    <mapping resource="com/jotase/crystalsystem/models/Glasses.hbm.xml"/>
    <mapping resource="com/jotase/crystalsystem/models/Orderglass.hbm.xml"/>
    <mapping resource="com/jotase/crystalsystem/models/Replacement.hbm.xml"/>
    <mapping resource="com/jotase/crystalsystem/models/User.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
